@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
body {
	font-family: "Montserrat", sans-serif;
	color: #2a2a2a;
	overflow-x: hidden;
	position: relative;
}
a {
	color: #2a2a2a;
	transition: 0.3s;
}
a:hover {
	text-decoration: none;
	color: #0068ad;
}
.btn {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: #ffffff;
	border-radius: 30px 30px 30px 30px / 75px 75px 75px 75px;
	border: none;
}

.btn:hover {
	color: #ffffff;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.btn:focus {
	box-shadow: none;
}
h2 {
	font-size: 41px;
	font-weight: 800;
}
h3 {
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 15px;
}
:focus,
button:focus {
	outline: none;
}
/* -------- HELPER-CLASS ------- */
.h1 {
	font-size: 30px;
	font-weight: 800;
}
.formula-bg {
	background-color: #f7f8fa;
	background-image: url(../img/gray-formula-bg.jpg);
	background-position-x: left;
	background-position-y: top;
	background-repeat: repeat;
}
.white-round-bl {
	background-color: #fff;
	border-radius: 6px;
}
.light-bl-shadow {
	box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.05);
}
.orange-btn {
	background: rgb(230, 143, 75);
	background: linear-gradient(
		0deg,
		rgba(252, 130, 51, 1),
		rgba(255, 184, 65, 1)
	);
	box-shadow: 0 3px 0 0 #e58c49, 2px 5px 12px 1px rgba(229, 140, 73, 0.35),
		inset 0 -1px 7px 1px #ffffff91;
	transition: 0.3s;
}
.heavy-orange-shadow {
	box-shadow: 0 3px 0 0 #e58c49, 2px 5px 12px 1px rgba(229, 140, 73, 0.72),
		inset 0 -1px 7px 1px #ffffff91;
}
.red-btn {
	background: #eb2626;
	box-shadow: 0 3px 0 0 #e21d1e, 2px 5px 16px 3px rgba(226, 29, 30, 0.7),
		inset 0 -1px 7px 1px #ffffff91;
}
.blue-btn {
	position: relative;
	background: #186395;
	background: linear-gradient(0deg, #186395, #1787d2);
	box-shadow: 0 3px 0 0 #014979, 2px 5px 12px 1px rgba(1, 73, 121, 0.24);
}
.blue-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px 30px 30px 30px / 75px 75px 75px 75px;
	width: 100%;
	height: 100%;
	box-shadow: 0 3px 0 0 #014979, 2px 5px 12px 1px rgba(1, 73, 121, 0.24);
	background-color: #014979;
	opacity: 0;
	transition: 0.3s;
}
.blue-btn:hover::before {
	opacity: 1;
	transition: 0.3s;
}
.red-btn:hover {
	background: #de0c16;
	box-shadow: 0 3px 0 0 #de0c16, 2px 5px 16px 3px rgba(226, 29, 30, 0.7);
}
.orange-btn:hover {
	background: linear-gradient(0deg, rgb(230 143 75), rgb(230 143 75));
	box-shadow: 0 3px 0 0 #e68f4b, 2px 5px 12px 1px rgba(229, 140, 73, 0.35);

	transition: 0.3s;
}

.orange-grad {
	background: rgb(230, 143, 75);
	background: linear-gradient(0deg, #fc7a31, #ffc043);
}
.light-orange-grad {
	background: #f9a927;
	background: linear-gradient(0deg, #f9a927, #fcce2e);
}
.blue-grad {
	background: #186395;
	background: linear-gradient(0deg, #186395, #1787d2);
}
/* a.blue-grad:hover {
  background: #014979;
  background: linear-gradient(0deg, #014979, #014979);
} */

.pill-radius {
	border-radius: 30px 30px 30px 30px / 75px 75px 75px 75px;
}
.blue-text {
	color: #0b65a3;
}
.gray-text {
	color: #9f9f9f;
}
.orange-text {
	color: #fea93d;
}
.h2-sm {
	font-size: 36px;
}
@media screen and (min-width: 1200px) {
	.col-twenty {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
		padding: 0 10px;
	}
}
.pb-30 {
	padding-bottom: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
/* ---------- HEADER --------- */
.margin-head {
	height: 150px;
}
header {
	position: absolute;
	z-index: 5;
	width: 100%;
	background-color: transparent;
}
.hdr_header {
	padding: 25px 0;
}
.hdr_header_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hdr_logo-wrapper {
	max-width: 190px;
	max-height: 18px;
	margin-right: 15px;
}
.hdr_slogan-wrapper {
	font-size: 12px;
}
.hdr_city-nav {
	position: relative;
}
.hdr_city-nav-inner {
	position: absolute;
	right: -77px;
	top: 55px;
	display: none;
	width: 570px;
	height: 420px;
	background-color: #ffffff;
	padding: 15px 15px 40px;
	transition: 0.3s;
	opacity: 0;
}
.hdr_city-nav-inner-active {
	display: block;
	opacity: 1;
}
.hdr_city-nav_list {
	flex-wrap: wrap;
	height: 81%;
	margin-left: 8px;
}
.city-nav_current {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
}
.city-nav_current:hover .city-nav_arrow svg {
	fill: #0068ad;
}
.city-nav_point {
	margin-right: 4px;
	display: flex;
	align-items: center;
}
.city-nav_point svg {
	width: 18px;
	height: 18px;
}
.city-nav_arrow {
	margin-left: 7px;
}
.city-nav_arrow svg {
	width: 7px;
	height: 7px;
	fill: #2a2a2a;
	/* transform: rotate(180deg); */
	transition: 0.3s;
}
.city-nav_current-active .city-nav_arrow svg {
	transform: rotate(0);
}
.hdr_city_title {
	position: relative;
	margin-bottom: 18px;
}
.city-nav_close-btn {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 30px;
	line-height: 1;
}
.hdr_city_title-large {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
}
.hdr_city_title_small {
	font-size: 12px;
	color: #9f9f9f;
	margin-left: 22px;
}

.hdr_city-nav_link {
	font-size: 13px;
	font-weight: 500;
	padding: 4px 15px;
}
.hdr_city-nav_link.active {
	color: #e6975c;
}
.hdr_ya_logo {
	width: 114px;
	height: 28px;
}
.hdr_ya_stars {
	width: 65px;
}
.hdr-call-btn {
	font-size: 12px;
	padding: 9px 16px;
}
.hdr_tel-link {
	font-size: 20px;
	font-weight: 700;
}
.hdr_tel_text {
	font-size: 10px;
}
.hdr_main-nav {
	width: 100%;
	border-radius: 30px 30px 30px 30px / 75px 75px 75px 75px;
	box-shadow: 0 3px 0 0 #ffffff, 3px 6px 5px 1px rgba(0, 0, 0, 0.1);
	background: #f5f5f5;
	background: linear-gradient(0deg, #f5f5f5, #ffffff);
	margin-right: 20px;
}
.main-nav_arrow {
	margin-left: 6px;
}
.main-nav_arrow svg {
	width: 9px;
	height: 9px;
	fill: #2a2a2a;
}
.hdr_minicart svg {
	width: 20px;
	height: 20px;
	fill: #ffffff;
	-webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.2));
}
.hdr_minicart {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px 30px 30px 30px / 75px 75px 75px 75px;
	width: 74px;
	height: 50px;
	box-shadow: 0 3px 0 0 #014979, 2px 5px 12px 1px rgba(1, 73, 121, 0.24);
	transition: 0.3s;
}
.hdr_minicart_link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px 30px 30px 30px / 75px 75px 75px 75px;
	width: 100%;
	height: 100%;
	box-shadow: 0 3px 0 0 #014979, 2px 5px 12px 1px rgba(1, 73, 121, 0.24);
	background-color: #014979;
	opacity: 0;
	transition: 0.3s;
}
.hdr_minicart_link:hover {
	fill: #e6975c;
}
.hdr_minicart_link:hover::before {
	opacity: 1;
	transition: 0.3s;
}
.hdr_minicart_count {
	position: absolute;
	top: -6px;
	right: -5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	border-radius: 50px;
	width: 24px;
	height: 24px;
}
.main-nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	font-size: 14px;
}
/* -------- MOBILE MENU ------- */
.mobile-menu-wrapper {
	position: fixed;
	z-index: 10;
	/* height: 100%; */
	max-height: calc(100vh);
	width: 100%;
	display: none !important;
	overflow: auto;
	top: 87px;
}
.mobile-menu-wrapper.active {
	display: flex !important;
}

.mobile-menu {
	position: relative;
	/*  top: 87px; */
	/* display: flex; */
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	transform: translateX(-100%);
	transition: 0.3s;
	border-top: 1px solid #f0f0f7;
	background-color: #ffffff;
	box-shadow: 2px 9px 12px 1px rgba(0, 0, 0, 0.1);
	padding: 15px 15px 40px;
	overflow: auto;
	margin-bottom: 87px;
}
.mobile-menu-active {
	transform: translateX(0);
}
.mob-menu-btn {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	border-radius: 50px;
	margin-bottom: 40px;
}
.mob-burger-1,
.mob-burger-2,
.mob-burger-3 {
	width: 12px;
	height: 2px;
	background-color: #ffffff;
	transition: 0.3s;
}
.mob-burger-2 {
	margin: 2px 0;
}
.mob-menu-btn-active .mob-burger-2 {
	display: none;
}
.mob-menu-btn-active .mob-burger-1 {
	position: absolute;
	transform: rotate(45deg);
	width: 17px;
}
.mob-menu-btn-active .mob-burger-3 {
	position: absolute;
	transform: rotate(-45deg);
	width: 17px;
}
.mob_main-nav {
	flex-wrap: wrap;
	max-height: 155px;
	margin: 0 -15px;
	margin-bottom: 4px;
}
.mob-nav-link {
	font-size: 14px;
}
.mob-nav-link.active {
	color: #e6975c;
}
/* ------- MAIN BANNER ------ */
.main_banner {
	height: 740px;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}
.main_banner_slider {
	height: 100%;
}
.main_banner_slide-wrapper {
	position: relative;
	min-height: 740px;
}
.main_banner_slide_content {
	padding: 250px 0 0;
	max-width: 700px;
}
.banner-girl_wrapper {
	position: absolute;
	right: 177px;
	bottom: -96px;
	z-index: 1;
}
.banner-girl_inner {
	position: relative;
}
.main_banner_bg {
}
@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
.banner-girl_signal {
	position: absolute;
	top: -5%;
	left: 16%;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.main_banner_title {
	font-size: 60px;
	font-weight: 800;
	margin-bottom: 11px;
}
.main_banner_text {
	width: 80%;
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 30px;
}
.main_banner_product {
	position: relative;
	display: flex;
	align-items: center;
	height: 75px;
	max-width: 500px;
	background-color: #ffffff;
	box-shadow: 0 3px 0 0 #e9e9e9, 3px 6px 5px 1px rgba(0, 0, 0, 0.1);
	padding-left: 111px;
}
.main_banner_product_price {
	font-size: 22px;
	font-weight: 900;
	text-shadow: 3px 4px 8px rgba(0, 0, 0, 0.28);
}
.main_banner_product_sum {
	font-size: 44px;
	font-weight: 700;
}
.banner_choose-btn {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 18px;
	margin-left: auto;
}
.banner_earphone-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: auto;
	-webkit-filter: drop-shadow(6px 9px 8px rgba(0, 0, 0, 0.28));
	filter: drop-shadow(6px 9px 8px rgba(0, 0, 0, 0.28));
	transform: rotate(-16deg);
}
/* ------- HIT BLOCK ------- */
.hit-block {
	position: relative;
	background-color: #f7f8fa;
	background-image: url(../img/gray-formula-bg.jpg);
	background-position-x: left;
	background-position-y: top;
	background-repeat: repeat;
	padding-bottom: 105px;
	padding-top: 65px;
}
.hit-block::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 360px;
	background-color: #f7f8fa;
}
.hit_title-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}
.hit_item-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #ffffff;
	border-radius: 6px;
	box-shadow: 2px 5px 12px 1px rgba(0, 0, 0, 0.1);

	padding: 17px 35px 40px;
}
.hit_title-star {
	margin-right: 15px;
}
.hit_title-star img {
	-webkit-filter: drop-shadow(4px 6px 5px rgba(211, 142, 28, 0.2));
	filter: drop-shadow(4px 6px 5px rgba(211, 142, 28, 0.2));
}
.hit_title-wrapper h2 {
	margin-bottom: 0;
}
.hit_item_header {
	display: flex;
	margin-left: -35px;
	margin-bottom: 9px;
}
.hit_item_label {
	position: relative;
	background: #166295;
	background: linear-gradient(0deg, #166295, #1586d2);
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
	border-radius: 9px;
	box-shadow: 2px 5px 12px 1px rgba(1, 73, 121, 0.24);
	padding: 8px 19px 8px 71px;
}
.hit_item_label-first {
	padding: 8px 19px 8px 60px;
}
.hit_item_label img {
	position: absolute;
	max-width: 80px;
	max-height: 80px;
}
.hit_item_label_img1 {
	top: -25px;
	left: -19px;
	transform: rotate(-24deg);
}
.hit_item_label_img2 {
	top: -19px;
	left: -14px;
}
.hit_item_label_img3 {
	top: -19px;
	left: 0px;
}
.hit_item_img-cont {
	overflow: hidden;
	margin: 0 -35px 48px;
}
.hit_item_body {
}
.hit_item_body h3 {
	font-size: 30px;
	font-weight: 800;
	text-align: center;
}
.hit_item_list {
	margin-bottom: 5px;
}
.hit_item_list li {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}
.hit_item_list-icon {
	margin-right: 10px;
}
.hit_item_list-icon svg {
	width: 14px;
	height: 14px;
	fill: #0168a0;
	-webkit-filter: drop-shadow(3px 3px 2px rgba(1, 104, 160, 0.23));
	filter: drop-shadow(3px 3px 2px rgba(1, 104, 160, 0.23));
}
.hit_item_list-icon img {
	max-width: 14px;
	max-height: 14px;
	-webkit-filter: drop-shadow(3px 3px 2px rgba(1, 104, 160, 0.23));
	filter: drop-shadow(3px 3px 2px rgba(1, 104, 160, 0.23));
}
.it_item_list-item {
	font-size: 15px;
}
.hit_item_footer {
	margin-top: auto;
}
.hit_item_price {
	display: flex;
	align-items: baseline;
	margin-bottom: 7px;
}
.hit_item_price_text {
	font-size: 18px;
	font-weight: 600;
	margin-right: 5px;
}
.hit_item_price_sum {
	font-size: 24px;
	font-weight: 800;
}
.hit_item_btn {
	padding: 8px 20px;
	font-size: 14px;
}
.hit_item_list-item {
	font-size: 15px;
}
/* ----- how to choose ------ */
.how-to-choose {
	background-image: url(../img/choose-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.choose_wrapper {
	position: relative;
	padding: 75px 0 80px;
}
.choose_inner {
	position: relative;
	z-index: 1;
	padding-left: 375px;
}
.choose_inner h2 {
	margin-bottom: 12px;
}
.choose_text {
	font-size: 18px;
	margin-bottom: 25px;
}
.interview-btn {
	padding: 13px 44px;
	font-size: 20px;
	margin-right: 8px;
}
.choose-call-btn {
	padding: 13px 44px;
	font-size: 20px;
}
.choose-man_wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
}
.choose-pi_wrapper {
	position: absolute;
	top: -30px;
	left: -13px;
	z-index: 1;
}
.choose-pi_wrapper img {
	transform: rotate(-30deg);
	width: 84px;
	height: auto;
}
.choose-push_wrapper {
	position: absolute;
	top: -94px;
	right: -96px;
	z-index: 1;
}
.choose-push_wrapper img {
	transform: rotate(33deg);
	width: 89px;
	height: auto;
}
.choose-erph_wrapper {
	position: absolute;
	bottom: -24px;
	right: 94px;
	z-index: 1;
}
.choose-erph_wrapper img {
	transform: rotate(-13deg);
	width: 57px;
	height: auto;
}
/* ---------- callback block ------- */
.callback-block {
	background-color: #ffffff;
}
.callback_wrapper {
	position: relative;
	padding: 70px 0 85px;
}
.callback_inner {
	text-align: center;
	max-width: 750px;
	margin: auto;
}

.callback_text {
	font-size: 15px;
	margin-bottom: 22px;
}
.callback-try-btn {
	font-size: 17px;
	padding: 13px 15px;
	box-shadow: 0 3px 0 0 #e58c49, 6px 9px 11px 1px rgba(229, 140, 73, 0.72),
		inset 0 -1px 7px 1px #ffffff91;
}
.callback-triangle_wrapper {
	position: absolute;
	left: 0;
	bottom: -30px;
	z-index: 1;
}
.callback-triangle_wrapper img {
	width: 60px;
	height: auto;
	transform: rotate(24deg);
}
.callback-earph_wrapper {
	position: absolute;
	right: -136px;
	bottom: -144px;
	z-index: 1;
}
.callback-earph_wrapper img {
	width: 297px;
	height: auto;
}
/* ------- how it works --------- */
.how-it-works {
	position: relative;
	background-color: #f7f8fa;
	padding: 75px 0;
}
.how-works_title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 65px;
}
.how-works_title h2 {
	margin-bottom: 0;
}
.how-works_title-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50px;
	color: #ffffff;
	font-size: 34px;
	font-weight: 800;
	text-shadow: 0 0 0 #000;
	margin-right: 15px;
}
.how-works_item_wrapper {
	height: 100%;
	padding-bottom: 24px;
}
.how-works_item {
	height: 100%;
	background-color: #ffffff;
	border-radius: 8px;
	text-align: center;
	padding: 35px 15px 30px;
}
.how-works_item_img-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	margin-bottom: 20px;
}
.how-works_item_img-cont img {
	max-width: 50px;
	max-height: 50px;
}
.how-works_item_text {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 0;
	line-height: 1.3;
}
.how-works_item-circle {
	position: absolute;
	top: -18px;
	left: calc(50% - 18px);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;

	border-radius: 50px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
}
.col-twenty {
	position: relative;
}
.how-works_atention-text {
	font-size: 30px;
	font-weight: 700;
	margin: 55px auto 30px;
	max-width: 750px;
	text-align: center;
}
.how-works_instuction-btn {
	padding: 13px 23px;
	margin: auto;
}
.how-works_emc-wrapper {
	position: absolute;
	bottom: -23px;
	right: 122px;
	z-index: 1;
}
.how-works_emc-wrapper img {
	width: 135px;
	height: auto;
	transform: rotate(28deg);
}
/* --------- consist block ------- */
.consist {
	position: relative;
	background-image: url(../img/cont_bg.jpg);
	background-repeat: repeat;
	background-position: top left;
	padding: 75px 0 70px;
}
.consist h4 {
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
}
.consist_title {
	margin-top: 53px;
}
.consist_item-wrapper {
	position: relative;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 10px 60px rgba(121, 144, 158, 0.2);
	padding: 13px;
	z-index: 1;
}
.consist_microearph-wrapper {
	margin: 0 42px 40px 0;
}
.consist_gar-wrapper {
	margin: 0 0 60px 65px;
}
.consist_pwr-wrapper {
	margin: 0 0 0 98px;
}
.consist_microphone-wrapper {
	margin: 127px -15px 0 0;
}
.consist_microearph-wrapper h4 {
	margin-bottom: 30px;
}
.consist_gar-wrapper h4 {
	margin-bottom: 15px;
}
.consist_pwr-wrapper h4 {
	margin-bottom: 15px;
}
.consist_microphone-wrapper h4 {
	margin-bottom: 20px;
}
.consist_microearph-wrapper .consist_item_inner {
	padding: 30px 23px 23px 75px;
}
.consist_gar-wrapper .consist_item_inner {
	padding: 31px 205px 30px 22px;
}

.consist_pwr-wrapper .consist_item_inner {
	padding: 40px 41px 43px 30px;
}

.consist_microphone-wrapper .consist_item_inner {
	padding: 30px 41px 85px 218px;
}

.consist_item_inner {
	border: 1px dotted #aeb1bf;
	border-radius: 10px;
	line-height: 1.4;
}
.consist_list {
	flex-direction: column;
}
.consist_list_title {
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
}
.consist_option_inner {
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	line-height: 1.3;
}
.consist_option_inner::before {
	content: "•";
	font-weight: 800;
	color: #ffad13;
	margin-right: 6px;
}
.consist_option_inner:hover {
	text-shadow: 0.5px 0px 0px, -0.5px 0px 0px, 0 0.5px 0px, 0 -0.5px 0px;
	color: #0066a4;
}
.consist_option_inner:hover::before {
	color: #0066a4;
}
.consist_option_inner:hover ~ img {
	-webkit-filter: drop-shadow(0 0 20px rgba(0, 102, 164, 0.8));
	filter: drop-shadow(0 0 20px rgba(0, 102, 164, 0.8));
}
.consist_option:nth-child(n):hover {
	text-shadow: 0.5px 0px 0px, -0.5px 0px 0px, 0 0.5px 0px, 0 -0.5px 0px;
	color: #0066a4;
}
.consist_option > img:hover {
	-webkit-filter: drop-shadow(0 0 20px rgba(0, 102, 164, 0.8));
	filter: drop-shadow(0 0 20px rgba(0, 102, 164, 0.8));
}
.consist_man-wrapper {
	position: absolute;
	bottom: 0;
	left: calc(50% - 221px);
	pointer-events: none;
	z-index: 1;
}
.consist_option_img {
	position: absolute;
	cursor: pointer;
	z-index: 5;
}
.magnet-img {
	top: 69px;
	right: 15px;
}
.capsul-img {
	bottom: 31px;
	right: 110px;
}
.safety-img {
	bottom: -28px;
	right: -21px;
}
.bluetooth-img {
	top: -27px;
	left: 183px;
}
.mp3-img {
	bottom: 33px;
	left: -41px;
}
.jack-img {
	bottom: -23px;
	right: 127px;
}
.blue2-img {
	top: 26px;
	left: -42px;
}
.accumulator-img {
	bottom: -46px;
	left: 53px;
}
.battery-img {
	top: 0;
	left: 147px;
	transform: rotate(37deg);
}
.in-mic-img {
	top: 0;
	right: 28px;
}
.out-mic2-img {
	bottom: -20px;
	right: -35px;
}
.out-mic-img {
	bottom: -12px;
	left: 191px;
}
/* ------- CHOOSE2 ----- */
.choose2 {
	background-color: #f7f8fa;
}
.choose2_title {
	max-width: 555px;
	margin: auto;
	text-align: center;
	margin-bottom: 25px;
}
.choose2_wrapper {
	position: relative;
	height: 100%;
	padding: 70px 0 90px;
}
.choose2-earph_wrapper {
	position: absolute;
	left: -103px;
	top: 32px;
}
.choose2-earph_wrapper img {
}
.choose2-push_wrapper {
	position: absolute;
	top: -61px;
	right: -33px;
}
.choose2-push_wrapper img {
	transform: rotate(38deg);
	width: 86px;
	height: auto;
}
.choose2-btn {
	margin: auto;
	padding: 13px 32px;
}
/* -------- FAQ ----------- */
.faq {
	background-image: url(../img/cont_bg.jpg);
	background-repeat: repeat;
	background-position: top left;
	padding: 70px 0 60px;
}
.faq h2 {
	text-align: center;
	margin-bottom: 45px;
}
.faq_item_wrapper {
	position: relative;
	background-color: #ffffff;
	border-radius: 6px;
	box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
}
.faq_item_header {
	position: relative;
	display: flex;
	align-items: center;
	border-radius: 6px;
	padding: 25px 30px;
	background: #fff;
	background: linear-gradient(0deg, #fff, #fff);
	transition: 0.3s;
}
.faq_item_header:hover h4 {
	color: #0066a4;
}
.faq_item_wrapper-active .faq_item_header {
	background: #014c7f;
	background: linear-gradient(0deg, #014c7f, #0081d8);
	box-shadow: 0 3px 0 0 #014979, 0px 4px 11px 2px #0149795e,
		inset 0 -1px 12px 1px #ffffff70;
}
.faq_item_wrapper-active .faq_item_header h4 {
	color: #fff;
}
.faq_item_wrapper-active .faq_item_header .faq_arrow svg {
	fill: #fff;
	transform: rotate(180deg);
}
.faq_item_header h4 {
	font-size: 20px;
	font-weight: 600;
	transition: 0.3s;
}
.faq_item_body {
	display: none;

	border-radius: 6px;
	font-size: 16px;
	padding: 35px 30px;
	/* visibility: hidden;
  max-height:0;
  height: 0;
  overflow:hidden;
  opacity:0; */
	/*  padding: 0 30px;
*/ /* transition:all 0.5s; */
}
.faq_item_body-active {
	/* display: block; */

	/*   padding: 35px 30px;
 */
	visibility: visible;
	max-height: 100%;
	height: 100%;
	overflow: none;
	opacity: 1;
	transition: all 0.5s;
}
.faq_item_body p {
	margin-bottom: 7px;
}
.faq_arrow {
	margin-left: auto;
}
.faq_arrow svg {
	width: 19px;
	height: auto;
	fill: #2a2a2a;
	transition: 0.3s;
}
/* ----------- REVIEW -------- */
.review {
	background-color: #f7f8fa;
	padding: 60px 0 70px;
}
.review h2 {
	position: relative;
	margin-bottom: 15px;
}
.review_title-text {
	position: relative;
	margin-bottom: 20px;
}
.review_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 204px;
	height: 74px;
	margin-bottom: 10px;
}
.review_btn-text {
	font-size: 18px;
	font-weight: 700;
}
.review_2gis-btn {
	background-color: #98bb03;
	box-shadow: 0 3px 0 0 #93a51d, 5px 13px 10px 1px rgba(135, 250, 50, 0.32),
		inset 0 -1px 7px 1px rgba(255, 255, 255, 0.91);
}
.review_2gis-btn:hover {
	background-color: #849e14;
	box-shadow: 0 3px 0 0 #849e14;
}
.review_google-btn {
	background: #f0f0f0;
	background: linear-gradient(0deg, #f0f0f0, #ffffff);
	box-shadow: 0 3px 0 0 #e0dedd, 5px 13px 10px 1px rgba(12, 88, 249, 0.18),
		inset 0 -1px 7px 1px rgba(255, 255, 255, 0.91);
	color: #2b2b2b;
}
.review_google-btn:hover {
	color: #2b2b2b;
	background: #dcdcdc;
	box-shadow: 0 3px 0 0 #dcdcdc;
}
.review_vk-btn {
	background: #4a76a8;
	background: linear-gradient(0deg, #436790, #4a76a8);
	box-shadow: 0 3px 0 0 #577094, 5px 13px 10px 1px rgba(12, 88, 249, 0.18),
		inset 0 -1px 7px 1px rgba(255, 255, 255, 0.91);
}
.review_vk-btn:hover {
	background-color: #3f6590;
	box-shadow: 0 3px 0 0 #3f6590;
}
.review_yamark-btn,
.review_ya-btn {
	background: #eb2626;
	background: linear-gradient(0deg, #ff0000, #e62f2f);
	box-shadow: 0 3px 0 0 #e1181b, 5px 13px 10px 1px rgba(226, 29, 30, 0.28),
		inset 0 -1px 7px 1px rgba(255, 255, 255, 0.91);
}
.review_yamark-btn:hover,
.review_ya-btn:hover {
	background-color: #de0c16;
	box-shadow: 0 3px 0 0 #de0c16;
}
.review_2gis-btn img {
	width: 60px;
	height: 25px;
	margin-right: 11px;
}
.review_ya-btn img {
	width: 16px;
	height: 36px;
	margin-right: 29px;
}
.review_google-btn img {
	width: 34px;
	height: 35px;
	margin-right: 20px;
}
.review_vk-btn img {
	width: 41px;
	height: 23px;
	margin-right: 11px;
}
.review_yamark-btn img {
	width: 156px;
	height: 34px;
}
.review_city-list_wrapper {
	position: relative;
	margin-top: 30px;
}
.review_city-list_inner {
	background-color: #fff;
	border-radius: 6px;
	padding: 25px 38px;
	box-shadow: 3px 3px 7px 5px rgba(226, 226, 226, 0.25);
}
.review_2gis-text {
	color: #98bb03;
	text-shadow: -3px 3px 6px rgba(152, 187, 3, 0.26);
}
.review_ya-text {
	color: #e62f2d;
	text-shadow: -3px 3px 6px rgba(230, 47, 45, 0.26);
}
.review_goo-text {
	color: #2a2a2a;
	text-shadow: -3px 3px 6px rgba(42, 42, 42, 0.26);
}
.review_vk-text {
	color: #4872a2;
	text-shadow: -3px 3px 6px rgba(72, 114, 161, 0.26);
}
.review_city-list {
	max-height: 320px;
}
.review_city-link {
	font-size: 16px;
	font-weight: 600;
	padding: 6px 5px;
}
.review_city-link::before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50px;
	background: #fc7a31;
	background: linear-gradient(0deg, #fc7a31, #ffc043);
	box-shadow: -2px 2px 8px 1px rgba(228, 137, 71, 0.23),
		inset 0 -1px 7px 1px #ffffff91;
	margin-right: 15px;
}
.review_city-link:hover {
	color: #feb151;
}
/* ---------- CONTACTS ----------- */
.contacts {
	background-color: #fff;
	padding: 70px 0 65px;
}
.contacts h2 {
	margin: 15px 0;
}
.contacts_city-nav_current {
	display: flex;
	margin-bottom: 20px;
}
.contacts_info_item_name {
	font-size: 14px;
	font-weight: 500;
	color: #868686;
}
.contacts_info_item_value {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}
.contacts_map_wrapper {
	height: 100%;
	box-shadow: 3px 3px 7px 5px rgba(226, 226, 226, 0.25);
}
/* --------- small delivery ----------- */
.small-delivery {
	background-color: #f7f8fa;
	background-image: url(../img/gray-formula-bg.jpg);
	background-position-x: left;
	background-position-y: top;
	background-repeat: repeat;
	padding-bottom: 70px;
	padding-top: 60px;
}
.small-delivery_wrapper {
	height: 100%;
	text-align: center;
}
.small-delivery_wrapper p {
	margin-bottom: 20px;
}
.small-delivery_wrapper h3 {
	max-width: 750px;
}
.small-delivery-btn {
	margin: auto;
	padding: 13px 31px;
}
/* -------- FOOTER -------- */
footer {
	background-color: #171717;
	padding: 40px 0;
	color: #fff;
}
footer a {
	color: #fff;
}
.ftr_logo-wrapper {
	margin-bottom: 15px;
}
.ftr_logo-wrapper img {
	max-width: 180px;
}
.ftr_slogan-wrapper {
	font-size: 12px;
	margin-bottom: 10px;
}
.ftr_social-nav_link svg {
	width: 20px;
	height: 20px;
	fill: #fff;
}
.ftr_social-nav_link:hover svg {
	fill: #01699f;
}
.ftr_social-nav {
	margin: 0 -13px;
}
.ftr_social-nav_link {
	padding: 5px 13px;
}
.ftr_nav {
	height: 160px;
}
.ftr-nav_arrow svg {
	fill: #fff;
	width: 9px;
	height: 9px;
}
.ftr-nav-link {
	font-size: 14px;
	padding: 9px 9px;
}
footer .city-nav_arrow svg {
	fill: #ffffff;
}
.ftr_city-nav_current {
	margin-bottom: 30px;
}
.ftr_city-nav_current .city-nav_arrow svg {
	fill: #ffffff;
}
.ftr_ya-logo_wrapper img {
	width: 107px;
	height: auto;
}
.ftr_ya-stars_wrapper img {
	width: 63px;
	height: auto;
	padding-left: 20px;
}
.ftr_contacts_info_item {
	margin-bottom: 13px;
}
.ftr_contacts_info_item_name {
	font-size: 14px;
	font-weight: 500;
}
.ftr_contacts_info_item_value {
	font-size: 16px;
	font-weight: 700;
}

.ftr_footer {
	margin-top: 45px;
}
.ftr_copyright,
.ftr_confid,
.ftr_development {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #6e6f6e;
	margin-bottom: 15px;
}
.ftr_development svg {
	width: 97px;
	height: 15px;
	margin-left: 7px;
}
/* ------- breadcrumbs ----- */
.breadcrumb {
	background-color: transparent;
	font-size: 12px;
	color: #858484;
	margin-bottom: 0;
	padding: 15px 0;
}
/* -------- CATALOG -------- */
.catalog_title {
	padding-top: 20px;
}
.cat_products_block {
	margin-top: -15px;
}
.cat_product_wrapper {
	height: 100%;
	padding: 15px 0;
}
.cat_product_inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 5px 20px 25px;
}
.prod_img-cont {
	position: relative;
	margin: 0 -20px;
	margin-bottom: 15px;
}
.prod_title {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 8px;
	line-height: 1;
}
.prod_descrip {
	font-size: 14px;
	margin-bottom: 10px;
}
.prod_cost-block {
	margin-top: auto;
	margin-bottom: 15px;
}
.prod_new-price-block {
	display: flex;
	align-items: flex-end;
}
.prod_btns-block {
	display: flex;
}
.prod_old-price {
	font-size: 14px;
	font-weight: 500;
	text-decoration: line-through;
	line-height: 1;
	margin-bottom: 10px;
}
.prod_sale-price {
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
}
.prod_new-price {
	font-size: 24px;
	font-weight: 800;
	line-height: 1;
	margin-right: 10px;
}
.prod_img-cont img {
	margin: auto;
	width: 100%;
	height: auto;
}
.buy-one-click-btn {
	font-size: 12px;
	padding: 6px 9px;
}
.prod-detail-btn {
	font-size: 12px;
	padding: 6px 8px;
}
.prod_marks {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	z-index: 3;
}
.prod_new-mark {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #01689f;
	background-color: rgba(1, 104, 159, 0.2);
	font-size: 10px;
	font-weight: 700;
	border-radius: 6px;
	padding: 4px 14px;
	margin: 0 4px;
}
.prod_sale-mark {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fd9d40;
	background-color: rgba(253, 157, 64, 0.15);
	font-size: 10px;
	font-weight: 700;

	border-radius: 6px;
	padding: 4px 14px;
	margin: 0 4px;
}
.prod_hit-mark {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #fff;
	background-color: #fd9d40;
	font-size: 10px;
	font-weight: 700;

	border-radius: 6px;
	padding: 4px 14px;
	margin: 0 4px;
}
.cat_fil_categories_item {
	display: flex;
	align-items: center;
}
sup.fil_item_num {
	font-size: 14px;
	color: #686868;
	top: 0;
	line-height: 1;
	vertical-align: initial;
	margin-left: auto;
}
.cat_fil_categories_list .form-check-label {
	position: relative;
	width: 100%;
	padding: 10px 19px 10px 55px;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
}
.cat_fil_categories_list .form-check-label:hover {
	background-color: #eff1f6;
}
.cat_fil_categories_list .form-check-input:checked ~ .form-check-label {
	background-color: #eff1f6;
}
.cat_fil_categories_list .form-check-input {
	margin-left: 0;
	display: none;
}
.cat_fil_categories_list .form-check-input + label:before {
	display: none;
}
.cat_fil_checkbox {
	border-bottom: 1px solid #eff1f6;
}
.cat_fil_categories {
	border-bottom: 1px solid #eff1f6;
	padding: 10px 0;
}
.cat_fil_checkbox_title {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	padding: 20px 20px 20px;
}
.fil_check-item {
	padding: 12px 10px 12px 20px;
}
.check-label {
	display: flex;
	align-items: center;
	font-size: 14px;
	cursor: pointer;
}
.form-check-label:hover {
	color: #01699f;
}
.custom-checkbox .custom-control-label::before {
	border-radius: 2px;
}
.custom-control-label::before {
	top: 2px;
	border: #f0f0f0 solid 1px;
}
.custom-control-label::after {
	top: 2px;
}
.custom-control-input:checked ~ .custom-control-label::before {
	border-color: #80b4cf;
	background-color: #01699f;
}
.fil_tooltip {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	background-color: #f5f6f8;
	color: #bcc0ca;
	font-size: 13px;
	line-height: 0;
	font-weight: 600;
	padding: 0;
	margin-left: 8px;
}
.fil_tooltip:hover {
	background-color: #01699f;
	color: #fff;
}
.tooltip {
	font-family: "Montserrat", sans-serif;
}
.tooltip-inner {
	background-color: #f4f4f7;
	color: #000;
	box-shadow: 0 0 6px 2px #0000002b;
}
.bs-tooltip-top .arrow::before {
	border-top-color: #f4f4f7;
}
.fil_sort-block {
	display: flex;
	align-items: center;
}
.fil_sort-block {
	margin-bottom: 15px;
	margin-top: -45px;
}
.fil_sort_title {
	font-size: 16px;
	font-weight: 500;
	margin-right: 25px;
}
.fil_sort_item {
	display: flex;
	color: #fda64d;
	background-color: rgba(253, 166, 77, 0.26);
	font-size: 14px;
	font-weight: 600;
	padding: 4px 12px;
}
.swich-arrow svg {
	width: 7px;
	height: 7px;
	transform: rotate(90deg);
	transition: 0.3s;
}
.fil_sort_arrow {
	margin-left: 9px;
}
.fil_sort_arrow svg {
	fill: #fda64d;
}
.fil_sort_item:hover {
	color: #fff;
	background-color: rgba(253, 166, 77);
}
.fil_sort_item:hover svg {
	fill: #ffffff;
}
.fil_coll_arrow {
	margin-left: auto;
}
.fil_coll_arrow svg {
	fill: #2e2e2e;
	width: 12px;
	height: 12px;
	transform: rotate(-90deg);
}
.cat_fil_mob-head {
	display: none;
	align-items: center;
	background-color: #01689f;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
}
.cat_fil_mob-head_title {
	padding: 13px 20px;
}
.cat_fil_mob-head_close-btn {
	margin-left: auto;
	font-weight: 300;
	font-size: 30px;
	padding: 0 15px;
}
.collapse:not(.show).cat_fil_checkbox_body {
	display: block;
}
.fil_coll_link.collapsed ~ .fil_coll_arrow svg {
	transform: rotate(90deg);
	transition: 0.3s;
}
.fil_open-btn-block {
	padding: 20px 0;
}
.fil_open-btn {
	display: flex;
	align-items: center;
	color: #01689f;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #01689f;
	background-color: #ffffff;
	border-radius: 4px;
	padding: 13px 41px;
}
.fil_open-btn_icon {
	margin-right: 10px;
}
.fil_open-btn_icon svg {
	fill: #336681;
	width: 16px;
	height: 16px;
}
.fil_open-btn:hover {
	color: #fff;
	background-color: #01689f;
}
.fil_open-btn:hover svg {
	fill: #ffffff;
}
.cat_fil_mob-btn-block {
	padding: 20px;
}
.cat_fil_mob-categories {
	overflow-x: auto;
}
.cat_fil_categories_list-mob {
	color: #a8a8a8;
	font-size: 14px;
	font-weight: 600;
	flex-wrap: nowrap;
}
.cat_fil_categories_list-mob .form-check-input {
	margin-left: 0;
	display: none;
}
.cat_fil_categories_list-mob .form-check-input + label:before {
	display: none;
}
.cat_fil_categories_list-mob .form-check-label {
	padding: 13px 15px;
	border-bottom: 1px solid #a8a8a8;
	width: max-content;
}
.cat_fil_categories_list-mob .form-check-label:hover {
	color: #fea64f;
}
.cat_fil_categories_list-mob .form-check-label:checked {
	color: #fea64f;
	border-bottom: 1px solid #fea64f;
}
.fil_cat_icon {
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translate(184%, -50%);
}
.fil_cat_icon svg {
	fill: #0168a0;
	width: 22px;
	height: 22px;
}
/* ------- PRODUCT ----- */
.prod_slider_inner {
	position: relative;
}
.prod_content_main {
	padding: 20px 15px 40px;
}
.prod_slider-col {
	flex: 0 0 55%;
	max-width: 55%;
}
.prod_info-col {
	flex: 0 0 45%;
	max-width: 45%;
}
.prod_slider_main {
	max-width: 440px;
	max-height: 330px;
	margin-bottom: 15px;
}
.prod_slider_main .prod_slid_img-cont {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.prod_slider_thumbs {
	max-width: 432px;
	height: 70px;
}
.prod_slid_img-cont img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
}
.prod_slider_thumbs .prod_slid_img-cont {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #f0f0f0;
	cursor: pointer;
}
.prod_slider_thumbs .prod_slid_img-cont:hover {
	border: 2px solid #ffbf59;
}
.prod_slider_thumbs .swiper-wrapper {
	justify-content: center;
	align-items: center;
	padding: 0px 7px;
}
.prod_info_num-grt {
	display: flex;
	margin-bottom: 20px;
}
.prod_info_num {
	display: flex;
	align-items: center;
	margin-right: 23px;
}
.prod_info_num-less,
.prod_info_num-more {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f6f8;
	color: #bcc0ca;
	font-size: 20px;
	font-weight: 600;
	border-radius: 50px;
	width: 18px;
	height: 18px;
}
.prod_info_num-of-item {
	color: #bcc0ca;
	font-size: 20px;
	font-weight: 600;
	margin: 0 13px;
}
.prod_info_grt {
	display: flex;
	align-items: center;
}
.prod_info_grt_icon {
	display: flex;
	margin-right: 9px;
}
.prod_info_grt_icon svg {
	fill: #fd9a41;
	width: 14px;
	height: 14px;
}
.prod_info_grt_text {
	font-size: 12px;
	font-weight: 500;
}
.prod_info_prices {
	align-items: center;
	margin-bottom: 20px;
}
.prod_info_prices .prod_new-price {
	margin-right: 15px;
}
.prod_info_prices .prod_old-price {
	margin-right: 15px;
	margin-bottom: 0;
}
.prod_info_to-cart-btn {
	font-size: 13px;
	padding: 7px 17px;
	margin-right: 13px;
}
.prod_info_buy-one-cl-btn {
	font-size: 13px;
	padding: 7px 17px;
}
.prod_info_deli-ways {
	font-size: 12px;
	font-weight: 500;
}
.prod_info_delivery_icon svg {
	fill: #0165a9;
	width: 14px;
	height: 14px;
}
.prod_info_delivery {
	margin-right: 20px;
}
.prod_info_complect_title {
	font-size: 16px;
	font-weight: 800;
}
.prod_info_complect_list {
	list-style: none;
	font-size: 14px;
	padding-left: 14px;
}
.prod_info_complect_list li {
	position: relative;
}
.prod_info_complect_list li:before {
	content: "•";
	position: absolute;
	color: #a2a2a2;
	font-size: 20px;
	top: 9px;
	left: -12px;
	line-height: 0;
}
.prod_tab-content {
	padding: 25px 40px;
}
.nav_description_wrap p {
	font-size: 14px;
	margin-bottom: 15px;
}
.prod_nav-tabs {
	border-bottom: 2px solid #f7f8fa;
	color: #c6cbce;
	font-size: 16px;
	font-weight: 600;
}
.prod_nav-tabs .nav-link {
	color: #c6cbce;
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-bottom: 2px solid transparent;
	padding: 15px 40px;
}
.prod_nav-tabs .nav-link.active {
	color: #383838;
	border-bottom: 2px solid #febd56;
}
.nav_video_wrap iframe {
	max-width: 100%;
	border-radius: 13px;
}
.slider_prev-btn,
.slider_next-btn {
	cursor: pointer;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider_prev-btn svg,
.slider_next-btn svg {
	width: 18px;
	height: 18px;
	fill: #fff;
}
.slider_prev-btn svg {
	transform: rotate(180deg);
}
.slider_prev-btn {
	left: auto;
	right: 100%;
	transform: translateX(33%);
}
.slider_next-btn {
	right: auto;
	left: 100%;
	transform: translateX(-33%);
}
.slider_prev-btn::after,
.slider_next-btn::after {
	content: "";
}
.swiper-pagination.similar_slider_pagi {
	bottom: 10px;
	width: 100%;
}
.prod_similar_slider_wrapper {
	position: relative;
}
.swiper-pagination-bullet-active {
	background: #186395;
	background: linear-gradient(0deg, #186395, #1787d2);
}
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	margin: 0 5px;
}
.prod-page_new-mark {
	font-size: 15px;
	padding: 7px 20px;
}
.prod-page_sale-mark {
	font-size: 15px;
	padding: 7px 20px;
}
.prod-page_hit-mark {
	font-size: 15px;
	padding: 7px 20px;
}
.prod_tabs_arrow svg {
	width: 11px;
	height: 11px;
	transition: 0.3s;
}
.card-soup {
	border-radius: 6px;
	overflow: hidden;
}
.card-soup .card-header {
	padding: 0;
	background-color: transparent;
	border-bottom: none;
}
.card-soup .card-title {
	margin-bottom: 0;
	font-size: 17px;
	font-weight: 600;
}
.card-soup .nav-link.collapsed {
	color: #383838;
}
.card-soup .nav-link {
	position: relative;
	padding: 15px;
	color: #febd56;
}
.card-soup .nav-link .prod_tabs_arrow {
	position: absolute;
	left: 100%;
	top: 15px;
	transform: translateX(-250%);
}
.card-soup .nav-link .prod_tabs_arrow svg {
	fill: #febd56;
	transform: rotate(-90deg);
}
.card-soup .nav-link.collapsed .prod_tabs_arrow svg {
	fill: #383838;
	transform: rotate(90deg);
}
.card-soup .card {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #f1f1f1;
}
.card-soup .card:last-of-type {
	border-bottom: none;
}
/* --------- MODAL -------- */
.modal-header {
	position: relative;
	border-bottom: none;
}
.modal-title {
	font-weight: 800;
	font-size: 30px;
}
.modal-body {
	padding: 0 1rem 2rem;
}
.modal_text {
	color: #4d4d4d;
	font-size: 14px;
}
.modal .form-control::placeholder {
	color: #5b81ab;
	opacity: 1;
}
.modal input {
	border: 1px solid #ced4da;
	border-radius: 0;
	color: #5b81ab;
}
.modal_confid_wrapper {
	color: #a1a1a1;
	font-size: 14px;
	margin-bottom: 15px;
}
.modal_confid_link {
	color: #a1a1a1;
	font-size: 14px;
	text-decoration: underline;
	font-weight: 500;
}
.modal_send-btn {
	padding: 11px 35px;
}
.modal .close {
	position: absolute;
	right: -21px;
	top: -27px;
	font-size: 40px;
	color: #ebb151;
	opacity: 1;
}
.modal-btn {
	padding: 7px 21px;
}
.modal-success_title {
	font-size: 26px;
	font-weight: 800;
}
.modal-success_text {
	font-size: 12px;
}
.modal-cuccess_icon svg {
	width: 75px;
	height: 75px;
	-webkit-filter: drop-shadow(-3px 3px 4px rgba(228, 137, 71, 0.4));
	filter: drop-shadow(-3px 3px 4px rgba(228, 137, 71, 0.4));
}
#modalOneClickSuccess .modal-dialog {
	max-width: 360px;
}
.modal_prod_title {
	font-size: 22px;
	font-weight: 700;
}
.modal-title-small {
	font-size: 18px;
	font-weight: 800;
}
.modal_prod_img-cont img {
	max-width: 260px;
	width: 100%;
	height: auto;
	margin: auto;
}
.mod_prod-continue-btn,
.mod_prod_tocart-btn {
	font-size: 14px;
}
.mod_prod-continue-btn {
	padding: 8px 15px;
}
.mod_prod_tocart-btn {
	padding: 8px 12px;
}
.modal_recomend_add-btn {
	font-size: 12px;
	padding: 6px 14px;
}
.modal_recomend_items {
}
.modal_recomend_items .cat_product_wrapper {
	padding: 15px;
}
.modal_recomend-block {
	margin: 0 -16px;
	border-top: 1px solid #f4f6f7;
}
.modal_recomend_success_icon {
	margin-right: 15px;
}
.modal_recomend_success_icon svg {
	width: 22px;
	height: 22px;
	-webkit-filter: drop-shadow(-3px 3px 4px rgba(228, 137, 71, 0.4));
	filter: drop-shadow(-3px 3px 4px rgba(228, 137, 71, 0.4));
}
.modal_recomend_items .cat_product_wrapper {
	position: relative;
}
.modal_recomend_success {
	display: none;
	position: absolute;
	max-width: 195px;
	font-size: 14px;
	font-weight: 600;
	z-index: 1;
	border-radius: 6px;

	box-shadow: 4px 8px 8px 2px rgba(3, 86, 141, 0.12);
}
.modal_recomend_success_inner {
	position: relative;
	padding: 10px 15px;
}
.modal_recomend_success_inner::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 18px;
	height: 18px;
	border: 9px solid transparent;
	border-top: 9px solid #186395;
}
/* --------- MEDIA -------- */
@media screen and (max-width: 1199.9px) {
	.consist_microearph-wrapper {
		margin: 0 42px 0 0;
	}
	.consist_microearph-wrapper .consist_item_inner {
		padding: 30px 23px 23px 48px;
	}
	.consist_gar-wrapper {
		margin: 0 0 60px 31px;
	}
	.consist_gar-wrapper .consist_item_inner {
		padding: 31px 177px 30px 22px;
	}
	.consist_pwr-wrapper {
		margin: 0 0 0 43px;
	}
	.consist_pwr-wrapper .consist_item_inner {
		padding: 40px 41px 43px 30px;
	}
	.consist_microphone-wrapper .consist_item_inner {
		padding: 30px 41px 85px 187px;
	}
	.consist_option_inner {
		font-size: 15px;
	}
	.consist_man-wrapper {
		left: calc(50% - 200px);
	}
	.consist_man-wrapper img {
		width: 400px;
	}
	.banner-girl_wrapper {
		right: -62px;
	}
}
@media screen and (max-width: 1290.9px) {
	.choose2-push_wrapper {
		right: 0;
	}
}
@media screen and (max-width: 991.9px) {
	.hdr_header_inner {
		text-align: center;
	}
	header {
		position: fixed;
		background-color: #ffffff;
	}
	.hdr_header {
		padding: 11px 0;
	}
	.hdr_logo-wrapper {
		margin-right: 0;
		margin-bottom: 11px;
	}
	.hdr_minicart svg {
		width: 14px;
		height: 14px;
	}
	.hdr_yandex-wrapper {
		margin-bottom: 10px;
	}
	.hdr_tel-wrapper {
		margin-bottom: 15px;
	}
	.hdr_city-nav-inner {
		position: relative;
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
		border-top: 1px solid #f0f0f7;
		max-height: 520px;
		padding: 15px 0;
	}
	.hdr_city-nav_list {
		height: 81%;
		margin: 0 -15px;
		max-height: 430px;
	}
	.hdr_city-nav {
		padding-bottom: 8px;
	}
	.hdr_header {
		position: relative;
		z-index: 11;
		background-color: #ffffff;
		border-bottom: 1px solid #f0f0f7;
	}
	.hit_item-wrapper {
		height: auto;
		margin-bottom: 30px;
	}
	.main_banner_slide_content {
		padding: 133px 0 0;
	}
	.ftr_logosoc_wrapper,
	.ftr_menu_wrapper,
	.ftr_city-block_wrapper,
	.ftr_contacts_wrapper {
		margin-bottom: 15px;
	}
	.review_city-list {
		max-height: 375px;
	}
	.faq_item_header h4 {
		font-size: 18px;
	}
	.choose_wrapper {
		padding: 75px 0 0;
	}
	.choose_inner {
		padding-left: 0;
		margin-bottom: 30px;
	}
	.choose-man_wrapper {
		position: relative;
	}
	.banner-girl_wrapper {
		right: 2px;
		bottom: -71px;
	}
	.main_banner_bg {
		width: 346px;
	}
	.consist_wrapper {
		position: relative;
		z-index: 1;
	}
	.consist_man-wrapper {
		left: auto;
		right: 0;
	}
	.consist_title {
		margin-top: 0;
	}
	.consist_microearph-wrapper .consist_item_inner {
		padding: 30px 23px 23px 25px;
	}
	.consist_microearph-wrapper {
		margin: 20px 42px 32px 0;
	}
	.consist_gar-wrapper {
		margin: 0 40px 31px 18px;
	}
	.consist_gar-wrapper .consist_item_inner {
		padding: 31px 24px 30px 22px;
	}
	.consist_pwr-wrapper {
		margin: 0px 63px 0 16px;
	}
	.consist_microphone-wrapper {
		margin: 35px 0 0 0;
	}
	.consist_microphone-wrapper .consist_item_inner {
		padding: 30px 41px 85px 28px;
	}
	.out-mic-img {
		left: 61px;
	}
	.consist_man-wrapper {
		right: -45px;
	}
	.hdr_minicart {
		width: 30px;
		height: 24px;
	}

	.hdr_minicart_count {
		top: -5px;
		right: -4px;
		font-size: 9px;
		width: 13px;
		height: 13px;
	}
	.mob-menu-btn {
		margin-bottom: 0;
	}

	.hdr_minicart-wrapper {
		margin-bottom: 0;
	}
	.consist_man-wrapper {
		z-index: 0;
	}
	.banner-girl_signal {
		width: 220px;
		height: auto;
	}
	.cat_filters-block {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 15;
		width: 100%;
		overflow: auto;
		max-height: 100vh;
	}
	.fil_sort-block {
		margin-top: 0;
	}
	.cat_fil_mob-head {
		display: flex;
	}
	.collapse:not(.show).cat_fil_checkbox_body {
		display: none;
	}
	.prod_slider_thumbs {
		height: 60px;
	}
}
@media screen and (max-width: 767.9px) {
	.main_banner_slide_content {
		padding: 104px 0 0;
		text-align: center;
	}
	.main_banner_title {
		font-size: 35px;
	}
	.main_banner_text {
		width: 100%;
		font-size: 18px;
		line-height: 1.3;
	}
	.banner_choose-btn {
		font-size: 13px;
	}
	.main_banner_product_price {
		font-size: 18px;
		margin: auto;
	}
	.main_banner_product_sum {
		font-size: 24px;
	}
	.banner_earphone-img {
		top: 5px;
		width: 50px;
	}
	.main_banner_product {
		padding-left: 60px;
		height: 62px;
	}
	header {
		top: 0;
	}
	.h2-sm,
	h2 {
		font-size: 33px;
	}
	h3 {
		font-size: 25px;
	}
	.review_city-list {
		max-height: 560px;
	}
	.faq_item_header h4 {
		font-size: 17px;
	}
	.choose2-push_wrapper img {
		width: 46px;
	}
	.how-works_atention-text {
		font-size: 24px;
	}
	.interview-btn,
	.choose-call-btn {
		font-size: 17px;
	}
	.banner-girl_wrapper {
		right: 2px;
		bottom: -72px;
	}

	.consist .consist_option img {
		transform: perspective(100px) translate3d(0, 0, -50px);
	}
	.consist h4 {
		font-size: 20px;
		margin-bottom: 13px;
	}
	.consist_list_title {
		font-size: 16px;
	}
	.consist_microearph-wrapper {
		margin: 20px 30px 20px 0;
	}
	.consist_microearph-wrapper .consist_item_inner {
		padding: 21px 23px 22px 25px;
	}
	.consist_gar-wrapper .consist_item_inner {
		padding: 26px 24px 26px 15px;
	}
	.consist_pwr-wrapper {
		margin: 0px 40px 0 0;
	}
	.consist_pwr-wrapper .consist_item_inner {
		padding: 29px 41px 25px 15px;
	}
	.consist_microphone-wrapper {
		margin: 30px 0 0 0;
	}
	.consist_microphone-wrapper .consist_item_inner {
		padding: 30px 36px 59px 15px;
	}
	.out-mic-img {
		left: -18px;
	}
	.in-mic-img {
		top: auto;
		right: 28px;
		bottom: -31px;
	}
	.magnet-img {
		top: 10px;
		right: 15px;
	}
	.safety-img {
		bottom: -4px;
	}
	.mp3-img {
		left: -30px;
	}
	.blue2-img {
		left: -27px;
	}
	.consist_man-wrapper {
		right: -45px;
	}
	.main_banner_slide-wrapper {
		min-height: 664px;
	}
	.main_banner {
		height: 100%;
	}
	.prod_info-col {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.prod_slider-col {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 15px;
	}
	.prod_content_main {
		padding: 20px 15px 20px;
	}
}
@media screen and (max-width: 575.9px) {
	.hit_item_img-cont {
		margin: 0;
	}
	.main_banner {
		background-image: url(../img/banner-mob-bg.jpg);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: 89px;
	}
	.main_banner_slide_content {
		padding: 30px 0 0;
	}
	.main_banner_title {
		font-size: 25px;
	}
	/* h2 {
		font-size: 29px;
	} */
	.hit_title-star img {
		width: 30px;
	}
	.hit_item_label {
		margin-left: auto;
	}
	.hit_item_header {
		margin-right: -15px;
	}
	.hit_item_list-item {
		font-size: 14px;
	}
	.hit_item-wrapper {
		padding: 17px 30px 40px;
	}
	.h2-sm,
	h2 {
		font-size: 25px;
	}
	h3 {
		font-size: 21px;
	}
	.callback-try-btn,
	.how-works_instuction-btn,
	.choose2-btn,
	.small-delivery-btn {
		font-size: 14px;
		padding: 13px 23px;
	}
	.review_btn {
		width: 130px;
		height: 47px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
	.review_ya-btn {
		width: 80%;
		max-width: 385px;
	}
	.review_btn-text {
		font-size: 14px;
	}
	.review_2gis-btn img {
		width: 38px;
		height: 16px;
		margin-right: 5px;
	}
	.review_ya-btn img {
		width: 10px;
		height: 23px;
		margin-right: 15px;
	}
	.review_google-btn img {
		width: 22px;
		height: 22px;
		margin-right: 10px;
	}
	.review_vk-btn img {
		width: 26px;
		height: 14px;
		margin-right: 5px;
	}
	.review_yamark-btn img {
		width: 99px;
		height: 22px;
	}
	.review_city-list {
		max-height: 100%;
	}
	.review_city-list_inner {
		padding: 20px 15px;
	}
	.review_title-text {
		text-align: center;
	}
	.review h2 {
		text-align: center;
	}
	.faq_item_header {
		padding: 15px 15px;
	}
	.faq_item_header h4 {
		font-size: 15px;
	}
	.faq_item_body {
		font-size: 14px;
		padding: 15px;
	}
	.faq_item_body-active {
		padding: 15px;
	}
	.how-works_atention-text {
		font-size: 21px;
		line-height: 1.1;
	}
	.how-works_title-circle {
		width: 26px;
		height: 26px;
		font-size: 21px;
		margin-right: 9px;
	}
	.callback_text {
		font-size: 14px;
	}
	.choose-call-btn {
		padding: 8px 9px;
		font-size: 14px;
	}
	.interview-btn {
		padding: 8px 9px;
		font-size: 14px;
	}
	.consist_man-wrapper {
		right: -107px;
	}
	.consist_man-wrapper img {
		width: 320px;
	}
	.consist_item-wrapper {
		padding: 6px;
	}
	.consist .consist_option img {
		transform: perspective(100px) translate3d(0, 0, -99px);
	}
	.consist_microphone-wrapper .consist_item_inner {
		padding: 15px 10px 60px;
	}
	.out-mic-img {
		left: -57px;
	}
	.in-mic-img {
		right: 0px;
		bottom: -26px;
	}
	.out-mic2-img {
		bottom: -20px;
		right: -62px;
	}
	.consist_microearph-wrapper {
		margin: 20px 10px 20px 0;
	}
	.consist_microearph-wrapper .consist_item_inner {
		padding: 15px 10px 15px;
	}
	.magnet-img {
		top: 15px;
		right: -5px;
	}
	.safety-img {
		bottom: -5px;
		right: -16px;
	}
	.capsul-img {
		bottom: 31px;
		right: 52px;
	}
	.consist_gar-wrapper {
		margin: 0px 10px 14px 0;
	}
	.consist_gar-wrapper .consist_item_inner {
		padding: 15px 10px 15px 17px;
	}
	.jack-img {
		bottom: -25px;
		right: -48px;
	}
	.bluetooth-img {
		top: -27px;
		left: 120px;
	}
	.consist_pwr-wrapper .consist_item_inner {
		padding: 15px;
	}
	.consist_pwr-wrapper {
		margin: 0px 26px 0 0;
	}
	.battery-img {
		left: 99px;
	}
	.consist {
		padding: 45px 0 41px;
	}
	.modal-dialog {
		margin: 0.5rem 1.2rem;
	}
	.modal-title {
		font-size: 25px;
	}
	.modal_text {
		font-size: 13px;
		margin-bottom: 6px;
	}
	.modal label {
		font-size: 14px;
	}
	.modal input,
	.modal .form-control::placeholder {
		font-size: 14px;
	}
	.modal_confid_link,
	.modal_confid_wrapper {
		font-size: 12px;
	}
	.hit_title-star {
		margin-left: auto;
	}
	.hit_title-wrapper h2 {
		margin-right: auto;
	}
	.hit-block {
		padding-bottom: 0;
		padding-top: 75px;
	}
	.choose_wrapper {
		padding: 35px 0 0;
	}
	.callback_wrapper {
		padding: 35px 0 35px;
	}
	.how-it-works {
		padding: 35px 0;
	}
	.how-works_atention-text {
		margin-top: 35px;
	}
	.consist_title {
		text-align: center;
	}

	.choose2_wrapper {
		padding: 35px 0 45px;
	}
	.faq {
		padding: 35px 0 35px;
	}
	.review {
		padding: 35px 0 15px;
	}
	.contacts {
		padding: 15px 0;
	}
	.small-delivery {
		padding-bottom: 40px;
		padding-top: 35px;
	}
	.banner-girl_wrapper {
		right: calc(50% - 160px);
		bottom: -66px;
	}
	.main_banner_bg {
		width: 320px;
	}
	.main_banner_slide-wrapper {
		min-height: 650px;
	}
	.banner-girl_signal {
		top: -8%;
		left: 13%;
	}
	.prod-page_hit-mark,
	.prod-page_new-mark,
	.prod-page_sale-mark {
		font-size: 12px;
		padding: 6px 10px;
	}
	.prod_slider_thumbs {
		height: 42px;
	}
	.prod_info_btns {
		flex-wrap: wrap;
	}
	.prod_info_buy-one-cl-btn,
	.prod_info_to-cart-btn {
		margin-bottom: 15px;
	}
	.prod_info_deli-ways {
		flex-wrap: wrap;
	}
	.cat_product_wrapper {
		max-width: 350px;
		margin: auto;
	}
	.modal-title-small {
		font-size: 22px;
	}
	.modal_recomend_items {
		flex-wrap: wrap;
	}
}

.page_wrap {
	position: relative;
	overflow-x: hidden;
}
